* {
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

.wrapper {
    width: 80%;
    height: 100vh;
    margin: auto;
    border: 1px solid #fff;
}

.formcontainer {
    display: flex;
    justify-content: center;
}

.formflex {
    display: flex;
    flex-direction: column;
    align-content: center;

}

input {
    max-width: 200px;
    max-height: 60px;
    margin: 5px 0px;
}

label {
    max-width: 200px;
    padding: 5px 0px;

}